// Auto genetated file
[
{
"name" : "main - gcc_sparc_64" ,
"files" : "all" ,
"machdep" : "gcc_sparc_64" ,
"compilation_cmd" : "-Iinclude  -DBASH_PLATFORM=BASH_32 -Dvolatile=" ,
"main" : "main" 
}
,
{
"name" : "main - gcc_sparc_32" ,
"files" : "all" ,
"machdep" : "gcc_sparc_32" ,
"compilation_cmd" : "-Iinclude  -DBASH_PLATFORM=BASH_32 -Dvolatile=" ,
"main" : "main" 
}
]
