// Auto genetated file
[
{
"name" : "main - gcc_sparc_64" ,
"files" : "all" ,
"machdep" : "gcc_sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"compilation_cmd" : "-Iinclude  -DBASH_PLATFORM=BASH_32" ,
"main" : "main" 
}
,
{
"name" : "main - gcc_sparc_32" ,
"files" : "all" ,
"machdep" : "gcc_sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"compilation_cmd" : "-Iinclude  -DBASH_PLATFORM=BASH_32" ,
"main" : "main" 
}
]
