// Auto genetated file
[
{
"name" : "main - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-no-results" : "true" } ,
"compilation_cmd" : "-Iinclude -DU32_SUPPORT -DBASH_PLATFORM=BASH_32 -Dregister=" ,
"main" : "main" 
}
,
{
"name" : "main - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-no-results" : "true" } ,
"compilation_cmd" : "-Iinclude -DU32_SUPPORT -DBASH_PLATFORM=BASH_32 -Dregister=" ,
"main" : "main" 
}
]
